---
import LeftArrow from "@/icons/Left_arrow.astro"
import RightArrow from "@/icons/Right_arrow.astro"
---

<nav class="flex pt-2">
  <button class="ml-2 bg-black/50 rounded-full">
    <LeftArrow/>
  </button>
  <button class="ml-2 bg-black/50 rounded-full">
    <RightArrow />
  </button>
</nav>